body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:701px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2165 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:701px;
}
#u2166 {
  position:absolute;
  left:2px;
  top:342px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:53px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2167 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:53px;
  color:#FFFFFF;
}
#u2168 {
  position:absolute;
  left:2px;
  top:18px;
  width:396px;
  word-wrap:break-word;
}
#u2169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:36px;
}
#u2169 {
  position:absolute;
  left:11px;
  top:7px;
  width:33px;
  height:36px;
  color:#FFCC00;
}
#u2170 {
  position:absolute;
  left:2px;
  top:10px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2171 {
  position:absolute;
  left:0px;
  top:53px;
  width:400px;
  height:3px;
}
#u2172 {
  position:absolute;
  left:2px;
  top:-6px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u2173 {
  position:absolute;
  left:210px;
  top:75px;
  width:171px;
  height:111px;
}
#u2174 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u2175 {
  position:absolute;
  left:210px;
  top:219px;
  width:171px;
  height:111px;
}
#u2176 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2177 {
  position:absolute;
  left:17px;
  top:340px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u2178 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2179 {
  position:absolute;
  left:210px;
  top:340px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u2180 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2181 {
  position:absolute;
  left:210px;
  top:193px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u2182 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u2183 {
  position:absolute;
  left:17px;
  top:374px;
  width:171px;
  height:111px;
}
#u2184 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u2185 {
  position:absolute;
  left:17px;
  top:518px;
  width:171px;
  height:111px;
}
#u2186 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2187 {
  position:absolute;
  left:17px;
  top:639px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u2188 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2189 {
  position:absolute;
  left:17px;
  top:492px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u2190 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2191 {
  position:absolute;
  left:210px;
  top:639px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u2192 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:701px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2193 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:701px;
}
#u2194 {
  position:absolute;
  left:2px;
  top:342px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:53px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2195 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:53px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2196 {
  position:absolute;
  left:2px;
  top:18px;
  width:396px;
  word-wrap:break-word;
}
#u2197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:36px;
}
#u2197 {
  position:absolute;
  left:11px;
  top:7px;
  width:33px;
  height:36px;
  color:#FFCC00;
}
#u2198 {
  position:absolute;
  left:2px;
  top:10px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2199 {
  position:absolute;
  left:0px;
  top:53px;
  width:400px;
  height:3px;
}
#u2200 {
  position:absolute;
  left:2px;
  top:-6px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u2201 {
  position:absolute;
  left:210px;
  top:75px;
  width:171px;
  height:111px;
}
#u2202 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u2203 {
  position:absolute;
  left:210px;
  top:219px;
  width:171px;
  height:111px;
}
#u2204 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2205 {
  position:absolute;
  left:17px;
  top:340px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u2206 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2207 {
  position:absolute;
  left:210px;
  top:340px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u2208 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2209 {
  position:absolute;
  left:210px;
  top:193px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u2210 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u2211 {
  position:absolute;
  left:17px;
  top:374px;
  width:171px;
  height:111px;
}
#u2212 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u2213 {
  position:absolute;
  left:17px;
  top:518px;
  width:171px;
  height:111px;
}
#u2214 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2215 {
  position:absolute;
  left:17px;
  top:639px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u2216 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2217 {
  position:absolute;
  left:17px;
  top:492px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u2218 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u2219 {
  position:absolute;
  left:17px;
  top:75px;
  width:171px;
  height:111px;
}
#u2220 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u2221 {
  position:absolute;
  left:17px;
  top:219px;
  width:171px;
  height:111px;
}
#u2222 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2223 {
  position:absolute;
  left:17px;
  top:340px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u2224 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2225 {
  position:absolute;
  left:17px;
  top:193px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u2226 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u2227 {
  position:absolute;
  left:210px;
  top:374px;
  width:171px;
  height:111px;
}
#u2228 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u2229 {
  position:absolute;
  left:210px;
  top:518px;
  width:171px;
  height:111px;
}
#u2230 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2231 {
  position:absolute;
  left:210px;
  top:639px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u2232 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2233 {
  position:absolute;
  left:210px;
  top:492px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u2234 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
