body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:701px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u813 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:701px;
}
#u814 {
  position:absolute;
  left:2px;
  top:342px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:53px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u815 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:53px;
  color:#FFFFFF;
}
#u816 {
  position:absolute;
  left:2px;
  top:18px;
  width:396px;
  word-wrap:break-word;
}
#u817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:36px;
}
#u817 {
  position:absolute;
  left:11px;
  top:7px;
  width:33px;
  height:36px;
  color:#FFCC00;
}
#u818 {
  position:absolute;
  left:2px;
  top:10px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u819 {
  position:absolute;
  left:0px;
  top:53px;
  width:400px;
  height:3px;
}
#u820 {
  position:absolute;
  left:2px;
  top:-6px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u821 {
  position:absolute;
  left:210px;
  top:75px;
  width:171px;
  height:111px;
}
#u822 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u823 {
  position:absolute;
  left:210px;
  top:219px;
  width:171px;
  height:111px;
}
#u824 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u825 {
  position:absolute;
  left:17px;
  top:340px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u826 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u827 {
  position:absolute;
  left:210px;
  top:340px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u828 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u829 {
  position:absolute;
  left:210px;
  top:193px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u830 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u831 {
  position:absolute;
  left:17px;
  top:374px;
  width:171px;
  height:111px;
}
#u832 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u833 {
  position:absolute;
  left:17px;
  top:518px;
  width:171px;
  height:111px;
}
#u834 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u835 {
  position:absolute;
  left:17px;
  top:639px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u836 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u837 {
  position:absolute;
  left:17px;
  top:492px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u838 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u839 {
  position:absolute;
  left:210px;
  top:639px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u840 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:701px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u841 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:701px;
}
#u842 {
  position:absolute;
  left:2px;
  top:342px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:53px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u843 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:53px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u844 {
  position:absolute;
  left:2px;
  top:18px;
  width:396px;
  word-wrap:break-word;
}
#u845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:36px;
}
#u845 {
  position:absolute;
  left:11px;
  top:7px;
  width:33px;
  height:36px;
  color:#FFCC00;
}
#u846 {
  position:absolute;
  left:2px;
  top:10px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u847 {
  position:absolute;
  left:0px;
  top:53px;
  width:400px;
  height:3px;
}
#u848 {
  position:absolute;
  left:2px;
  top:-6px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u849 {
  position:absolute;
  left:210px;
  top:75px;
  width:171px;
  height:111px;
}
#u850 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u851 {
  position:absolute;
  left:210px;
  top:219px;
  width:171px;
  height:111px;
}
#u852 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u853 {
  position:absolute;
  left:17px;
  top:340px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u854 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u855 {
  position:absolute;
  left:210px;
  top:340px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u856 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u857 {
  position:absolute;
  left:210px;
  top:193px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u858 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u859 {
  position:absolute;
  left:17px;
  top:374px;
  width:171px;
  height:111px;
}
#u860 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u861 {
  position:absolute;
  left:17px;
  top:518px;
  width:171px;
  height:111px;
}
#u862 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u863 {
  position:absolute;
  left:17px;
  top:639px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u864 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u865 {
  position:absolute;
  left:17px;
  top:492px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u866 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u867 {
  position:absolute;
  left:17px;
  top:75px;
  width:171px;
  height:111px;
}
#u868 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u869 {
  position:absolute;
  left:17px;
  top:219px;
  width:171px;
  height:111px;
}
#u870 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u871 {
  position:absolute;
  left:17px;
  top:340px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u872 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u873 {
  position:absolute;
  left:17px;
  top:193px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u874 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u875 {
  position:absolute;
  left:210px;
  top:374px;
  width:171px;
  height:111px;
}
#u876 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u877 {
  position:absolute;
  left:210px;
  top:518px;
  width:171px;
  height:111px;
}
#u878 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u879 {
  position:absolute;
  left:210px;
  top:639px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u880 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u881 {
  position:absolute;
  left:210px;
  top:492px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u882 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
