body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:701px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1911 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:701px;
}
#u1912 {
  position:absolute;
  left:2px;
  top:342px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:53px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1913 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:53px;
  color:#FFFFFF;
}
#u1914 {
  position:absolute;
  left:2px;
  top:18px;
  width:396px;
  word-wrap:break-word;
}
#u1915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:36px;
}
#u1915 {
  position:absolute;
  left:11px;
  top:7px;
  width:33px;
  height:36px;
  color:#FFCC00;
}
#u1916 {
  position:absolute;
  left:2px;
  top:10px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1917 {
  position:absolute;
  left:0px;
  top:53px;
  width:400px;
  height:3px;
}
#u1918 {
  position:absolute;
  left:2px;
  top:-6px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u1919 {
  position:absolute;
  left:210px;
  top:75px;
  width:171px;
  height:111px;
}
#u1920 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u1921 {
  position:absolute;
  left:210px;
  top:219px;
  width:171px;
  height:111px;
}
#u1922 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1923 {
  position:absolute;
  left:17px;
  top:340px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1924 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1925 {
  position:absolute;
  left:210px;
  top:340px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1926 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1927 {
  position:absolute;
  left:210px;
  top:193px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1928 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u1929 {
  position:absolute;
  left:17px;
  top:374px;
  width:171px;
  height:111px;
}
#u1930 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u1931 {
  position:absolute;
  left:17px;
  top:518px;
  width:171px;
  height:111px;
}
#u1932 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1933 {
  position:absolute;
  left:17px;
  top:639px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1934 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1935 {
  position:absolute;
  left:17px;
  top:492px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1936 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1937 {
  position:absolute;
  left:210px;
  top:639px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1938 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:701px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1939 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:701px;
}
#u1940 {
  position:absolute;
  left:2px;
  top:342px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:53px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1941 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:53px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1942 {
  position:absolute;
  left:2px;
  top:18px;
  width:396px;
  word-wrap:break-word;
}
#u1943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:36px;
}
#u1943 {
  position:absolute;
  left:11px;
  top:7px;
  width:33px;
  height:36px;
  color:#FFCC00;
}
#u1944 {
  position:absolute;
  left:2px;
  top:10px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1945 {
  position:absolute;
  left:0px;
  top:53px;
  width:400px;
  height:3px;
}
#u1946 {
  position:absolute;
  left:2px;
  top:-6px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u1947 {
  position:absolute;
  left:210px;
  top:75px;
  width:171px;
  height:111px;
}
#u1948 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u1949 {
  position:absolute;
  left:210px;
  top:219px;
  width:171px;
  height:111px;
}
#u1950 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1951 {
  position:absolute;
  left:17px;
  top:340px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1952 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1953 {
  position:absolute;
  left:210px;
  top:340px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1954 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1955 {
  position:absolute;
  left:210px;
  top:193px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1956 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u1957 {
  position:absolute;
  left:17px;
  top:374px;
  width:171px;
  height:111px;
}
#u1958 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u1959 {
  position:absolute;
  left:17px;
  top:518px;
  width:171px;
  height:111px;
}
#u1960 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1961 {
  position:absolute;
  left:17px;
  top:639px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1962 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1963 {
  position:absolute;
  left:17px;
  top:492px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1964 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u1965 {
  position:absolute;
  left:17px;
  top:75px;
  width:171px;
  height:111px;
}
#u1966 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u1967 {
  position:absolute;
  left:17px;
  top:219px;
  width:171px;
  height:111px;
}
#u1968 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1969 {
  position:absolute;
  left:17px;
  top:340px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1970 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1971 {
  position:absolute;
  left:17px;
  top:193px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1972 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u1973 {
  position:absolute;
  left:210px;
  top:374px;
  width:171px;
  height:111px;
}
#u1974 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u1975 {
  position:absolute;
  left:210px;
  top:518px;
  width:171px;
  height:111px;
}
#u1976 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1977 {
  position:absolute;
  left:210px;
  top:639px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1978 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1979 {
  position:absolute;
  left:210px;
  top:492px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1980 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
