body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:738px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:803px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u319 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:803px;
}
#u320 {
  position:absolute;
  left:2px;
  top:394px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:53px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u321 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:53px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u322 {
  position:absolute;
  left:2px;
  top:18px;
  width:397px;
  word-wrap:break-word;
}
#u323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
}
#u323 {
  position:absolute;
  left:15px;
  top:8px;
  width:39px;
  height:37px;
}
#u324 {
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:207px;
}
#u325 {
  position:absolute;
  left:0px;
  top:53px;
  width:401px;
  height:206px;
}
#u326 {
  position:absolute;
  left:2px;
  top:95px;
  width:397px;
  word-wrap:break-word;
}
#u327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:400px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u327 {
  position:absolute;
  left:438px;
  top:0px;
  width:300px;
  height:400px;
}
#u328 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u329 {
  position:absolute;
  left:7px;
  top:279px;
  width:90px;
  height:16px;
  color:#FFFFFF;
}
#u330 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u331 {
  position:absolute;
  left:7px;
  top:305px;
  width:52px;
  height:16px;
  color:#FFFFFF;
}
#u332 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u333 {
  position:absolute;
  left:7px;
  top:331px;
  width:72px;
  height:16px;
  color:#FFFFFF;
}
#u334 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:262px;
}
#u335 {
  position:absolute;
  left:0px;
  top:395px;
  width:401px;
  height:261px;
}
#u336 {
  position:absolute;
  left:2px;
  top:122px;
  width:397px;
  word-wrap:break-word;
}
#u337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:105px;
}
#u337 {
  position:absolute;
  left:7px;
  top:679px;
  width:162px;
  height:104px;
}
#u338 {
  position:absolute;
  left:2px;
  top:44px;
  width:158px;
  word-wrap:break-word;
}
#u339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:105px;
}
#u339 {
  position:absolute;
  left:186px;
  top:679px;
  width:162px;
  height:104px;
}
#u340 {
  position:absolute;
  left:2px;
  top:44px;
  width:158px;
  word-wrap:break-word;
}
#u341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:105px;
}
#u341 {
  position:absolute;
  left:358px;
  top:679px;
  width:43px;
  height:104px;
}
#u342 {
  position:absolute;
  left:2px;
  top:44px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:41px;
}
#u343 {
  position:absolute;
  left:339px;
  top:6px;
  width:43px;
  height:41px;
}
#u344 {
  position:absolute;
  left:2px;
  top:12px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
