body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:701px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3419 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:701px;
}
#u3420 {
  position:absolute;
  left:2px;
  top:342px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:53px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3421 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:53px;
  color:#FFFFFF;
}
#u3422 {
  position:absolute;
  left:2px;
  top:18px;
  width:396px;
  word-wrap:break-word;
}
#u3423_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:36px;
}
#u3423 {
  position:absolute;
  left:11px;
  top:7px;
  width:33px;
  height:36px;
  color:#FFCC00;
}
#u3424 {
  position:absolute;
  left:2px;
  top:10px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3425 {
  position:absolute;
  left:0px;
  top:53px;
  width:400px;
  height:3px;
}
#u3426 {
  position:absolute;
  left:2px;
  top:-6px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3427_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u3427 {
  position:absolute;
  left:210px;
  top:75px;
  width:171px;
  height:111px;
}
#u3428 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u3429 {
  position:absolute;
  left:210px;
  top:219px;
  width:171px;
  height:111px;
}
#u3430 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3431 {
  position:absolute;
  left:17px;
  top:340px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u3432 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3433 {
  position:absolute;
  left:210px;
  top:340px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u3434 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3435 {
  position:absolute;
  left:210px;
  top:193px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u3436 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u3437 {
  position:absolute;
  left:17px;
  top:374px;
  width:171px;
  height:111px;
}
#u3438 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u3439 {
  position:absolute;
  left:17px;
  top:518px;
  width:171px;
  height:111px;
}
#u3440 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3441_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3441 {
  position:absolute;
  left:17px;
  top:639px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u3442 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3443 {
  position:absolute;
  left:17px;
  top:492px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u3444 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3445 {
  position:absolute;
  left:210px;
  top:639px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u3446 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:701px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3447 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:701px;
}
#u3448 {
  position:absolute;
  left:2px;
  top:342px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:53px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3449 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:53px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3450 {
  position:absolute;
  left:2px;
  top:18px;
  width:396px;
  word-wrap:break-word;
}
#u3451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:36px;
}
#u3451 {
  position:absolute;
  left:11px;
  top:7px;
  width:33px;
  height:36px;
  color:#FFCC00;
}
#u3452 {
  position:absolute;
  left:2px;
  top:10px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3453 {
  position:absolute;
  left:0px;
  top:53px;
  width:400px;
  height:3px;
}
#u3454 {
  position:absolute;
  left:2px;
  top:-6px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u3455 {
  position:absolute;
  left:210px;
  top:75px;
  width:171px;
  height:111px;
}
#u3456 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u3457 {
  position:absolute;
  left:210px;
  top:219px;
  width:171px;
  height:111px;
}
#u3458 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3459 {
  position:absolute;
  left:17px;
  top:340px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u3460 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3461 {
  position:absolute;
  left:210px;
  top:340px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u3462 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3463 {
  position:absolute;
  left:210px;
  top:193px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u3464 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u3465 {
  position:absolute;
  left:17px;
  top:374px;
  width:171px;
  height:111px;
}
#u3466 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u3467 {
  position:absolute;
  left:17px;
  top:518px;
  width:171px;
  height:111px;
}
#u3468 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3469 {
  position:absolute;
  left:17px;
  top:639px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u3470 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3471 {
  position:absolute;
  left:17px;
  top:492px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u3472 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u3473 {
  position:absolute;
  left:17px;
  top:75px;
  width:171px;
  height:111px;
}
#u3474 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u3475 {
  position:absolute;
  left:17px;
  top:219px;
  width:171px;
  height:111px;
}
#u3476 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3477 {
  position:absolute;
  left:17px;
  top:340px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u3478 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3479 {
  position:absolute;
  left:17px;
  top:193px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u3480 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u3481 {
  position:absolute;
  left:210px;
  top:374px;
  width:171px;
  height:111px;
}
#u3482 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u3483 {
  position:absolute;
  left:210px;
  top:518px;
  width:171px;
  height:111px;
}
#u3484 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3485 {
  position:absolute;
  left:210px;
  top:639px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u3486 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3487 {
  position:absolute;
  left:210px;
  top:492px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u3488 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
