body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:701px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1645 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:701px;
}
#u1646 {
  position:absolute;
  left:2px;
  top:342px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:53px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1647 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:53px;
  color:#FFFFFF;
}
#u1648 {
  position:absolute;
  left:2px;
  top:18px;
  width:396px;
  word-wrap:break-word;
}
#u1649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:36px;
}
#u1649 {
  position:absolute;
  left:11px;
  top:7px;
  width:33px;
  height:36px;
  color:#FFCC00;
}
#u1650 {
  position:absolute;
  left:2px;
  top:10px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1651 {
  position:absolute;
  left:0px;
  top:53px;
  width:400px;
  height:3px;
}
#u1652 {
  position:absolute;
  left:2px;
  top:-6px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u1653 {
  position:absolute;
  left:210px;
  top:75px;
  width:171px;
  height:111px;
}
#u1654 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u1655 {
  position:absolute;
  left:210px;
  top:219px;
  width:171px;
  height:111px;
}
#u1656 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1657 {
  position:absolute;
  left:17px;
  top:340px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1658 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1659 {
  position:absolute;
  left:210px;
  top:340px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1660 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1661 {
  position:absolute;
  left:210px;
  top:193px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1662 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u1663 {
  position:absolute;
  left:17px;
  top:374px;
  width:171px;
  height:111px;
}
#u1664 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u1665 {
  position:absolute;
  left:17px;
  top:518px;
  width:171px;
  height:111px;
}
#u1666 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1667 {
  position:absolute;
  left:17px;
  top:639px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1668 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1669 {
  position:absolute;
  left:17px;
  top:492px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1670 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1671 {
  position:absolute;
  left:210px;
  top:639px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1672 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:701px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1673 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:701px;
}
#u1674 {
  position:absolute;
  left:2px;
  top:342px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:53px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1675 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:53px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1676 {
  position:absolute;
  left:2px;
  top:18px;
  width:396px;
  word-wrap:break-word;
}
#u1677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:36px;
}
#u1677 {
  position:absolute;
  left:11px;
  top:7px;
  width:33px;
  height:36px;
  color:#FFCC00;
}
#u1678 {
  position:absolute;
  left:2px;
  top:10px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1679 {
  position:absolute;
  left:0px;
  top:53px;
  width:400px;
  height:3px;
}
#u1680 {
  position:absolute;
  left:2px;
  top:-6px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u1681 {
  position:absolute;
  left:210px;
  top:75px;
  width:171px;
  height:111px;
}
#u1682 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u1683 {
  position:absolute;
  left:210px;
  top:219px;
  width:171px;
  height:111px;
}
#u1684 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1685 {
  position:absolute;
  left:17px;
  top:340px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1686 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1687 {
  position:absolute;
  left:210px;
  top:340px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1688 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1689 {
  position:absolute;
  left:210px;
  top:193px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1690 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u1691 {
  position:absolute;
  left:17px;
  top:374px;
  width:171px;
  height:111px;
}
#u1692 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u1693 {
  position:absolute;
  left:17px;
  top:518px;
  width:171px;
  height:111px;
}
#u1694 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1695 {
  position:absolute;
  left:17px;
  top:639px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1696 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1697 {
  position:absolute;
  left:17px;
  top:492px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1698 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u1699 {
  position:absolute;
  left:17px;
  top:75px;
  width:171px;
  height:111px;
}
#u1700 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u1701 {
  position:absolute;
  left:17px;
  top:219px;
  width:171px;
  height:111px;
}
#u1702 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1703 {
  position:absolute;
  left:17px;
  top:340px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1704 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1705 {
  position:absolute;
  left:17px;
  top:193px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1706 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u1707 {
  position:absolute;
  left:210px;
  top:374px;
  width:171px;
  height:111px;
}
#u1708 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:112px;
}
#u1709 {
  position:absolute;
  left:210px;
  top:518px;
  width:171px;
  height:111px;
}
#u1710 {
  position:absolute;
  left:2px;
  top:48px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1711 {
  position:absolute;
  left:210px;
  top:639px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1712 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1713 {
  position:absolute;
  left:210px;
  top:492px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1714 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
